.header {
    background-color: #353535;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}


.avatar {
    position: relative;
}

.avatar__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.avatar__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #1a1a1a;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 200px;
    z-index: 1000;
}

.dropdown--hidden {
    display: none;
}

.dropdown__info {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.dropdown__image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.dropdown__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown__item {
    padding: 10px;
}

.dropdown__button {
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 5px 0;

    &:hover {
        color: #007bff;

    }
}